{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
        "title": "SqlManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/managedDatabaseSensitivityLabels.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "sql-managedDatabaseSensitivityLabels",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/currentSensitivityLabels": {
            "get": {
                "description": "Gets the sensitivity labels of a given database",
                "operationId": "ManagedDatabaseSensitivityLabels_ListCurrentByDatabase",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "An OData filter expression that filters elements in the collection.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the sensitivity labels.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of sensitivity labels.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link to retrieve next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of results.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM proxy resource.",
                                                        "properties": {},
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "A sensitivity label.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Resource properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "informationType": {
                                                                "description": "The information type.",
                                                                "type": "string"
                                                            },
                                                            "informationTypeId": {
                                                                "description": "The information type ID.",
                                                                "type": "string"
                                                            },
                                                            "labelId": {
                                                                "description": "The label ID.",
                                                                "type": "string"
                                                            },
                                                            "labelName": {
                                                                "description": "The label name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.\n\n * 400 SensitivityLabelsInvalidODataQuery - The specified OData query is either not valid or not supported\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance."
                    }
                },
                "tags": [
                    "ManagedDatabaseSensitivityLabels"
                ],
                "x-ms-examples": {
                    "Gets the current sensitivity labels of a given database in a managed database": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "databaseName": "myDatabase",
                            "managedInstanceName": "myManagedInstanceName",
                            "resourceGroupName": "myRG",
                            "sensitivityLabelSource": "current",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn/sensitivityLabels/current",
                                            "name": "current",
                                            "properties": {
                                                "informationType": "Financial",
                                                "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                                "labelId": "05e6eaa1-075a-4fb4-a732-a92215a2444a",
                                                "labelName": "Sensitive"
                                            },
                                            "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                        },
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn3/sensitivityLabels/current",
                                            "name": "current",
                                            "properties": {
                                                "informationType": "Email",
                                                "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                                "labelId": "bf91e08c-f4f0-478a-b016-25164b2a65ff",
                                                "labelName": "PII"
                                            },
                                            "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/SensitivityLabel",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/recommendedSensitivityLabels": {
            "get": {
                "description": "Gets the sensitivity labels of a given database",
                "operationId": "ManagedDatabaseSensitivityLabels_ListRecommendedByDatabase",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "$skipToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "An OData filter expression that filters elements in the collection.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the sensitivity labels.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of sensitivity labels.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link to retrieve next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of results.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM proxy resource.",
                                                        "properties": {},
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "A sensitivity label.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Resource properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "informationType": {
                                                                "description": "The information type.",
                                                                "type": "string"
                                                            },
                                                            "informationTypeId": {
                                                                "description": "The information type ID.",
                                                                "type": "string"
                                                            },
                                                            "labelId": {
                                                                "description": "The label ID.",
                                                                "type": "string"
                                                            },
                                                            "labelName": {
                                                                "description": "The label name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.\n\n * 400 SensitivityLabelsInvalidODataQuery - The specified OData query is either not valid or not supported\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance."
                    }
                },
                "tags": [
                    "ManagedDatabaseSensitivityLabels"
                ],
                "x-ms-examples": {
                    "Gets the recommended sensitivity labels of a given database in a managed database": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "databaseName": "myDatabase",
                            "managedInstanceName": "myManagedInstanceName",
                            "resourceGroupName": "myRG",
                            "sensitivityLabelSource": "recommended",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn2/sensitivityLabels/recommended",
                                            "name": "recommended",
                                            "properties": {
                                                "informationType": "Financial",
                                                "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                                "labelId": "05e6eaa1-075a-4fb4-a732-a92215a2444a",
                                                "labelName": "Sensitive"
                                            },
                                            "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                        },
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn4/sensitivityLabels/recommended",
                                            "name": "recommended",
                                            "properties": {
                                                "informationType": "Email",
                                                "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                                "labelId": "bf91e08c-f4f0-478a-b016-25164b2a65ff",
                                                "labelName": "PII"
                                            },
                                            "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/SensitivityLabel",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}": {
            "delete": {
                "description": "Deletes the sensitivity label of a given column",
                "operationId": "ManagedDatabaseSensitivityLabels_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the schema.",
                        "in": "path",
                        "name": "schemaName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the table.",
                        "in": "path",
                        "name": "tableName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the column.",
                        "in": "path",
                        "name": "columnName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source of the sensitivity label.",
                        "in": "path",
                        "name": "sensitivityLabelSource",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "WritableSensitivityLabelSource"
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "current"
                            ]
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the sensitivity label."
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported - The specified sensitivity label source is not valid\n\n * 404 SensitivityLabelsColumnNotFound - The specified schema/table/column could not be found\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended' sensitivity label source is not supported yet"
                    }
                },
                "tags": [
                    "ManagedDatabaseSensitivityLabels"
                ],
                "x-ms-examples": {
                    "Deletes the sensitivity label of a given column in a managed database": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "columnName": "myColumn",
                            "databaseName": "myDatabase",
                            "managedInstanceName": "myManagedInstanceName",
                            "resourceGroupName": "myRG",
                            "schemaName": "dbo",
                            "sensitivityLabelSource": "current",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444",
                            "tableName": "myTable"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Gets the sensitivity label of a given column",
                "operationId": "ManagedDatabaseSensitivityLabels_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the schema.",
                        "in": "path",
                        "name": "schemaName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the table.",
                        "in": "path",
                        "name": "tableName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the column.",
                        "in": "path",
                        "name": "columnName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source of the sensitivity label.",
                        "in": "path",
                        "name": "sensitivityLabelSource",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "SensitivityLabelSource"
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "current",
                                "recommended"
                            ]
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the sensitivity label.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A sensitivity label.",
                                    "properties": {
                                        "properties": {
                                            "description": "Resource properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "informationType": {
                                                    "description": "The information type.",
                                                    "type": "string"
                                                },
                                                "informationTypeId": {
                                                    "description": "The information type ID.",
                                                    "type": "string"
                                                },
                                                "labelId": {
                                                    "description": "The label ID.",
                                                    "type": "string"
                                                },
                                                "labelName": {
                                                    "description": "The label name.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported - The specified sensitivity label source is not valid\n\n * 404 SensitivityLabelsColumnNotFound - The specified schema/table/column could not be found\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended' sensitivity label source is not supported yet"
                    }
                },
                "tags": [
                    "ManagedDatabaseSensitivityLabels"
                ],
                "x-ms-examples": {
                    "Gets the sensitivity label of a given column in a managed database": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "columnName": "myColumn",
                            "databaseName": "myDatabase",
                            "managedInstanceName": "myManagedInstanceName",
                            "resourceGroupName": "myRG",
                            "schemaName": "dbo",
                            "sensitivityLabelSource": "current",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444",
                            "tableName": "myTable"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn/sensitivityLabels/current",
                                    "name": "current",
                                    "properties": {
                                        "informationType": "PhoneNumber",
                                        "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                        "labelId": "bf91e08c-f4f0-478a-b016-25164b2a65ff",
                                        "labelName": "PII"
                                    },
                                    "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates the sensitivity label of a given column",
                "operationId": "ManagedDatabaseSensitivityLabels_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the schema.",
                        "in": "path",
                        "name": "schemaName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the table.",
                        "in": "path",
                        "name": "tableName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the column.",
                        "in": "path",
                        "name": "columnName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source of the sensitivity label.",
                        "in": "path",
                        "name": "sensitivityLabelSource",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "WritableSensitivityLabelSource"
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "current"
                            ]
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the sensitivity label.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A sensitivity label.",
                                    "properties": {
                                        "properties": {
                                            "description": "Resource properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "informationType": {
                                                    "description": "The information type.",
                                                    "type": "string"
                                                },
                                                "informationTypeId": {
                                                    "description": "The information type ID.",
                                                    "type": "string"
                                                },
                                                "labelId": {
                                                    "description": "The label ID.",
                                                    "type": "string"
                                                },
                                                "labelName": {
                                                    "description": "The label name.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Successfully created the sensitivity label.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A sensitivity label.",
                                    "properties": {
                                        "properties": {
                                            "description": "Resource properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "informationType": {
                                                    "description": "The information type.",
                                                    "type": "string"
                                                },
                                                "informationTypeId": {
                                                    "description": "The information type ID.",
                                                    "type": "string"
                                                },
                                                "labelId": {
                                                    "description": "The label ID.",
                                                    "type": "string"
                                                },
                                                "labelName": {
                                                    "description": "The label name.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported - The specified sensitivity label source is not valid\n\n * 400 InvalidSensitivityLabelResource - The specified sensitivity label resource is not valid\n\n * 400 SensitivityLabelLabelNameAndInfoTypeNotProvided - At least one of LabelName and InformationType must be specified\n\n * 400 LabelNameTooLong - Label name cannot exceed {0} characters\n\n * 400 InformationTypeTooLong - Information type cannot exceed {0} characters\n\n * 400 LabelIdMustBeGuid - Label ID must be a GUID\n\n * 400 InformationTypeIdMustBeGuid - Information type ID must be a GUID\n\n * 400 LabelMissing - Label is missing\n\n * 400 InformationTypeMissing - Information Type is missing\n\n * 404 SensitivityLabelsColumnNotFound - The specified schema/table/column could not be found\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended' sensitivity label source is not supported yet"
                    }
                },
                "tags": [
                    "ManagedDatabaseSensitivityLabels"
                ],
                "x-ms-examples": {
                    "Updates or creates a sensitivity label of a given column with all parameters in a managed database": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "columnName": "myColumn",
                            "databaseName": "myDatabase",
                            "managedInstanceName": "myManagedInstanceName",
                            "parameters": {
                                "properties": {
                                    "informationType": "PhoneNumber",
                                    "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                    "labelId": "bf91e08c-f4f0-478a-b016-25164b2a65ff",
                                    "labelName": "PII"
                                }
                            },
                            "resourceGroupName": "myRG",
                            "schemaName": "dbo",
                            "sensitivityLabelSource": "current",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444",
                            "tableName": "myTable"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn/sensitivityLabels/current",
                                    "name": "current",
                                    "properties": {
                                        "informationType": "PhoneNumber",
                                        "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                        "labelId": "bf91e08c-f4f0-478a-b016-25164b2a65ff",
                                        "labelName": "PII"
                                    },
                                    "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                }
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/myRG/providers/Microsoft.Sql/managedInstances/myManagedInstanceName/databases/myDatabase/schemas/dbo/tables/myTable/columns/myColumn/sensitivityLabels/current",
                                    "name": "current",
                                    "properties": {
                                        "informationType": "PhoneNumber",
                                        "informationTypeId": "d22fa6e9-5ee4-3bde-4c2b-a409604c4646",
                                        "labelId": "bf91e08c-f4f0-478a-b016-25164b2a65ff",
                                        "labelName": "PII"
                                    },
                                    "type": "Microsoft.Sql/managedInstances/databases/schemas/tables/columns/sensitivityLabels"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "allOf": [
                                            {
                                                "description": "ARM resource.",
                                                "properties": {
                                                    "id": {
                                                        "description": "Resource ID.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Resource name.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "Resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object",
                                                "x-ms-azure-resource": true
                                            }
                                        ],
                                        "description": "ARM proxy resource.",
                                        "properties": {},
                                        "type": "object"
                                    }
                                ],
                                "description": "A sensitivity label.",
                                "properties": {
                                    "properties": {
                                        "description": "Resource properties.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "informationType": {
                                                "description": "The information type.",
                                                "type": "string"
                                            },
                                            "informationTypeId": {
                                                "description": "The information type ID.",
                                                "type": "string"
                                            },
                                            "labelId": {
                                                "description": "The label ID.",
                                                "type": "string"
                                            },
                                            "labelName": {
                                                "description": "The label name.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The column sensitivity label resource.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "SensitivityLabel": {
                "allOf": [
                    {
                        "allOf": [
                            {
                                "description": "ARM resource.",
                                "properties": {
                                    "id": {
                                        "description": "Resource ID.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Resource name.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "Resource type.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                            }
                        ],
                        "description": "ARM proxy resource.",
                        "properties": {},
                        "type": "object"
                    }
                ],
                "description": "A sensitivity label.",
                "properties": {
                    "properties": {
                        "description": "Resource properties.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "informationType": {
                                "description": "The information type.",
                                "type": "string"
                            },
                            "informationTypeId": {
                                "description": "The information type ID.",
                                "type": "string"
                            },
                            "labelId": {
                                "description": "The label ID.",
                                "type": "string"
                            },
                            "labelName": {
                                "description": "The label name.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "SensitivityLabelListResult": {
                "description": "A list of sensitivity labels.",
                "properties": {
                    "nextLink": {
                        "description": "Link to retrieve next page of results.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "value": {
                        "description": "Array of results.",
                        "items": {
                            "allOf": [
                                {
                                    "allOf": [
                                        {
                                            "description": "ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "ARM proxy resource.",
                                    "properties": {},
                                    "type": "object"
                                }
                            ],
                            "description": "A sensitivity label.",
                            "properties": {
                                "properties": {
                                    "description": "Resource properties.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "informationType": {
                                            "description": "The information type.",
                                            "type": "string"
                                        },
                                        "informationTypeId": {
                                            "description": "The information type ID.",
                                            "type": "string"
                                        },
                                        "labelId": {
                                            "description": "The label ID.",
                                            "type": "string"
                                        },
                                        "labelName": {
                                            "description": "The label name.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "SensitivityLabelProperties": {
                "description": "Properties of a sensitivity label.",
                "properties": {
                    "informationType": {
                        "description": "The information type.",
                        "type": "string"
                    },
                    "informationTypeId": {
                        "description": "The information type ID.",
                        "type": "string"
                    },
                    "labelId": {
                        "description": "The label ID.",
                        "type": "string"
                    },
                    "labelName": {
                        "description": "The label name.",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "The API version to use for the request.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string"
                }
            },
            "BlobAuditingPolicyNameParameter": {
                "description": "The name of the blob auditing policy.",
                "in": "path",
                "name": "blobAuditingPolicyName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string",
                    "enum": [
                        "default"
                    ]
                }
            },
            "DatabaseNameParameter": {
                "description": "The name of the database.",
                "in": "path",
                "name": "databaseName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ManagedInstanceNameParameter": {
                "description": "The name of the managed instance.",
                "in": "path",
                "name": "managedInstanceName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceGroupParameter": {
                "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                "in": "path",
                "name": "resourceGroupName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SqlVirtualMachineContainerNameParameter": {
                "description": "The name of the SqlVirtualMachineContainer.",
                "in": "path",
                "name": "sqlVirtualMachineContainerName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SqlVirtualMachineInstanceNameParameter": {
                "description": "The name of the SqlVirtualMachineInstance.",
                "in": "path",
                "name": "sqlVirtualMachineInstanceName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The subscription ID that identifies an Azure subscription.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string"
                }
            },
            "VirtualClusterNameParameter": {
                "description": "The name of the virtual cluster.",
                "in": "path",
                "name": "virtualClusterName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    },
    "security": [
        {
            "azure_auth": []
        }
    ]
}